/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: "Trebuchet MS";
  line-height: 1.2;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header Styles */

header {
  background-image: url("../images/rattle_grate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 480px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, .65);
  color: rgb(255, 241, 239);
  width: 36rem;
  margin-top: 7rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  font-weight: bold;
}

.name h1 {
  font-size: 2rem;
}

table {
  width: 100%;
  margin-top: .75rem;
}

th {
  font-size: 1.5rem;
}

th, td {
  text-align: center;
}

/* Navigation Styles */

nav {
  margin-top: -3rem;
  background-color: rgb(225, 75, 48);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.container a {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 10rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 241, 239);
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.container a:hover {
  background: rgb(170, 26, 0);
}

/* Carousel styles */

#carousel {
  position: absolute;
  max-width: 100vw;
}

.slides {
  display: none;
  width: 100%;
  height: 21.75rem;
  overflow: hidden;
}

.slides img {
  max-width: 100%;
  height: auto;
  display: block;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 9.5rem;
  width: auto;
  padding: 1rem;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: rgb(225, 139, 48);
  background-color: rgb(94, 48, 0, .65);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.numbertext {
  display: none;
  color: rgb(145, 97, 0);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dots:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Main Styles */

main {
  background-color: white;
  height: 40rem;
  margin-top: 21.75rem;
  z-index: 1;
  padding: 2rem;
}

/* Footer styles */

footer {
  background-color: rgb(255, 85, 54);
  padding: 4rem 0;
}

footer span {
  font-weight: bold;
  color: white;
}
